<% layout('layouts/boilerplate') -%>

    <section class="d-flex flex-wrap justify-content-center">
        <% for( let product of products) { %>
            <div class="card m-3" style="width: 18rem;">
                <img src="<%= product.img %>" class="card-img-top" alt="...">
                <span class="badge text-bg-light position-absolute " style="top:38%; left:5%">
                    <%= product.avgRating %> &star; | <%= product.reviews.length %>
                </span>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.name %>
                    </h5>
                    <h5>$ <%= product.price %>
                    </h5>
                    <p class="card-text">
                        <%= product.desc %>
                    </p>
                    <a href="/products/<%= product._id %>" class="btn btn-primary btn-sm">Buy Now</a>
                </div>
            </div>
            <% } %>
    </section>