<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <h2>this is EJS file</h2>
    <!-- <%= 1+2+3+4+5 %> -->
    <%= locals.randomNumber  %>

    <% if(randomNumber%2 === 0){ %>
        <h3> Even </h3>
    <% }else{ %>
        <h3> Odd </h3>
    <% } %>

<%- include('partials/footer') %>