<%- include('partials/header') %>
    <%- include('partials/navbar') %>
    <h1>This is Todo File</h1>
    <!-- <%= todos %> -->

    <h3> My Todo</h3>
    <ul>
        <% for( let todo of todos) { %>
            <li><%= todo %></li>
        <% } %>
    </ul>

    <%- include('partials/footer') %>