<% layout('layouts/boilerplate') -%>

    <div class="row newForm">
        <div class="col-6 mx-auto">
            <form action="/products/<%= product._id %>?_method=PATCH" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Product Name" name="name" value="<%= product.name %>">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image</label>
                    <input type="text" class="form-control" id="img" placeholder="Image URL" name="img" value="<%= product.img %>">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="price" placeholder="Product Price" name="price" value="<%= product.price %>">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea class="form-control" name="desc" id="desc" cols="30" rows="5"><%= product.desc %></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </form>
        </div>
    </div>