<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>
<body>

    <h1>All Comments</h1>

    <a href="/comments/new">Add New Comment</a>

    <ul>
        <% for( let comment of comments ) { %>
            <li>
                <p><strong><%= comment.username %></strong></p>
                <p><%= comment.text %></p>
                <a href="/comments/<%=comment.id%>">show</a>
                <a href="/comments/<%=comment.id%>/edit">edit</a>
                <form action="/comments/<%=comment.id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>

            </li>
        <% } %>
    </ul>


</body>
</html>